/* General */

.hidden {
  display: none;
}

.fatDiv {
  border: 1px solid black;
  height: 5000px;
}

.new-line {
  white-space: pre-line;
  height: 15px;
}

.red {
  color: red;
}

.white {
  color: White;
}

.green {
  color: green;
}

/* Layout */

.layout-ul {
  position: absolute;
  right: 5px;
}

.layout-divider {
  border-left: 1px solid grey;
}

/* Recipe Lists */

.recipeList {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/* Home */

.addRecipeButton {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
}

.plusIcon {
  font-size: 30px;
}

/* Automaticly generated */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}