/* General */

.hidden {
  display: none;
}

.space {
  width: 15px;
}

.fatDiv {
  border: 1px solid black;
  height: 5000px;
}

.new-line {
  white-space: pre-line;
  height: 15px;
}

.no_decoration {
  text-decoration: none;
}

.red {
  color: red;
}

.white {
  color: White;
}

.green {
  color: green;
}

/* Cards */
.sucess_card {
  background-color: rgb(66, 245, 114);
  border-radius: 5px;
}

.sucess_card_inside {
  display: table;
  margin: 0 auto;
}

/* Layout */

.layout-ul {
  position: absolute;
  right: 5px;
}

.layout-divider {
  border-left: 1px solid grey;
}

/* Home */
.recipe-div {
  padding-bottom: 55px;
}

.recipe-div button {
  float: right;
  margin-right: 15px;
}

/* createRecipe */
.icon {
  margin-left: 5px;
}

.addRecipe-img {
  max-width: 374px;
  max-height: 180px;
}

.addRecipe-left {
  float: left;
}

.addRecipe-btn {
  margin-left: 5px;
  margin-bottom: 10px;
}

.addRecipe-right {
  float:right;
  margin-bottom: 10px;
}

.addRecipe-right img {
  float: center;
  aspect-ratio: 16 / 9;
}

.addRecipe-btn-div {
  float: left;
}

.addRecipe-ing-div {
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgray;
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn-ing-remove {
  margin-right: 10px;
}

/* Recipe Body */
.recipe-body-divider {
  border-top: 1px solid rgb(168, 167, 180);
  margin-top: 15px;
  padding-bottom: 15px;
}

.recipe-body-subtitle {
  color: black;
}

.recipe-body-img {
  float: right;
  max-width: 374px;
  max-height: 180px;
  margin-bottom: 15px;
}

.recipe-body-description {
  float: left;
}


/* Recipe Lists */

.recipeList h2 {
  margin-left: 15px;
}

/* Recipe Card */

.card-block {
  display: inline-block;
}

.card-block span {
  padding-left: 5px;
  padding-right: 5px;
}

.card-user {
  padding-top: 10px;
}

.card-user a {
  color: black;
  text-decoration: none;
}

.card-group {
  margin: 15px;
}

.card-img {
  padding: 5px;
}

.card-link {
  text-decoration: none;
  color: black;
}

/* Home */

.addRecipeButton {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
}

.plusIcon {
  font-size: 30px;
}

/* Automaticly generated */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}